<div class="wallpaperIndex ">
<h2 class="center p-4 text-white">Afisare grupuri</h2>
<br />



<div>
    @if (ViewBag.Message != null)
    {
        <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
    }
</div>


@foreach (Proiect.Models.Group group in ViewBag.Groups)
{
    <div class="card w-50 center mb-2 ">

        @Html.Partial("GroupInfo", group )
            
            <a class="btn btn-info" href="/Groups/Show/@group.Id">Afisare grup</a>
        <br />

    </div>
}


@* Afisarea paginata a articolelor *@
<div class="center">
    <nav aria-label="Page navigation example">
        <ul class="pagination center justify-content-center">
            <li class="page-item">
                <a class="page-link" href="/Groups/Index?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.lastPage; i++)
            {
                <li class="page-item"> <a class="page-link" href="/Groups/Index?page=@i">@(i)</a> </li>
            }
            <li class="page-item">
                <a class="page-link" href="/Groups/Index?page=@(ViewBag.lastPage)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</div>
