    body {
    margin: 0;
    padding: 0;
    background-color: sandybrown;
    font-family: 'Raleway',sans-serif;
    color: #fff;
}

.banner {
    height: 100vh;
    width: 100%;
    background: url('https://i.redd.it/70gzd5el0nl31.jpg');
    background-position: top;
    background-size: cover;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
}

    .banner .navbar {
        margin-top: 4%;
    }

    .banner .navbar-brand {
        color: #fff;
        font-size: 1.8em;
        font-weight: 700;
        margin-left: 10%;
    }

    .banner .nav {
        margin-right: 10%;
    }

        .banner .nav li a {
            color: #aaa;
            font-size: 1.2em;
        }

    .banner .info {
        margin-top: 15%;
        transform: translateY(-15%);
    }

        .banner .info h1 {
            font-size: 2.5em;
            font-weight: 700;
            color: #fff;
            letter-spacing: 2px;
        }

        .banner .info p {
            font-size: 2em;
            font-weight: 500;
            color: #aaa;
            letter-spacing: 2px;
        }

        .banner .info a {
            margin-left: 50%;
            transform: translateX(-50%);
            color: #fff;
            background: #e91d43;
            padding: 10px 20px;
            font-size: 2em;
            font-weight: 600;
        }

            .banner .info a:hover {
                background: #e91e63;
            }

.bg-brown {
    background-color: #1c0d07 !important;
}
.center {
    margin: auto;
    width: 50%;
    text-align:center;
    padding: 10px;
}
.bg-lightbrown {
    background-color: #28150d;
}
.bg-indexGroups {
    background-color: #5b6774;
}
.wallpaperIndex {
    background: url("https://w0.peakpx.com/wallpaper/291/424/HD-wallpaper-plain-chocolate-brown-background-brown-aesthetic.jpg");
}
.md-1{
    margin-bottom:3px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.butonMaro {
    background-color: #024200;
    border: none;
    color: white;
    padding: 20px 35px;
    font-size: 16px;
}

.container {
    display: grid;
    color: black;
    grid-template-areas:
        'moderatori useri';
    grid-gap: 40px;
    justify-content: center;
    text-align: center;
}

.item {
    padding: 10px;
    border-radius: 10px;
}

.moderatori {
    grid-area: moderatori;
}

.useri {
    grid-area: useri;
}